/* ==========================================================================
   Text Selection & Reset
   ========================================================================== */

::-moz-selection { background: #d5d2d4; text-shadow: none; }
::selection { background: #d5d2d4; text-shadow: none; }

article, body, details, h1, h2, h3, header, html, hr, li, nav, ol, p, summary, ul { border: 0; margin: 0; padding: 0; }
article, details, header, main, nav, summary { display: block; }





/* ==========================================================================
   Basics
   ========================================================================== */

html { font-size: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }
body { background: #fdfdfa; color: #3b3b3b; font: 1em/1.4 Georgia, Times, Times New Roman, serif; padding-bottom: 60px; }

a { border-bottom: 1px dotted #aaa; color: #3c5d7a; text-decoration: none; -webkit-transition: all .2s ease; transition: all .2s ease; }
a:visited { color: #000; }
a:hover, a:focus { color: #000; outline: thin dotted; }
a:active { color: #54a2de; position: relative; top: 1px; }

a:hover, a:active { outline: 0; }

small { font-style: italic; font-size: 1em; }
hr { color: #3b3b3b; height: 0; padding: 0 0 60px 20px; }
hr:before { content: "*"; }

h1, h2, h3 { font-weight: normal; }
h2 { font-size: 1.2em; letter-spacing: 0.05em; margin: .83em 0; padding: 50px 0 5px; text-transform: uppercase; white-space: nowrap; }
h3 { padding: 0 0 10px; font-size: 1.17em; }

article { font-size: 1.1em; padding: 0 2em; }
p { padding-bottom: 30px; }

.proza article { margin: auto; max-width: 700px; }
.vers p { white-space: nowrap; }






/* ==========================================================================
   Header Logo & Search Form
   ========================================================================== */

header h1 { text-align: center; padding-top: 1em; margin-bottom: -.2em; }

.bannercont { margin: 15px auto 4em; height: 300px; width: 300px; overflow: hidden; position: relative; }
.banner { background: url(bg-stars.jpg); background-size: auto; height: 100%; width: 300%; position: absolute; top: 0; left: 0; -webkit-animation: Slideshow 300s ease-out infinite; }

.form { padding: 0; margin: -1.3em auto 1.5em; width: 90%; }
.form label { border: 0; clip: rect(0 0 0 0); height: 1px; width: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; }

#verskeres { border: 1px solid #ccc; border-radius: 3px; box-shadow: inset 0 0 3px #ccc; display: block; font: 1.2em Georgia, Times, Times New Roman, serif; font-style: italic; margin: auto; padding: .3em .2em; width: 90%; height:50px; }

#talalat { background: #fefefb; width: 81%; margin: auto; margin-top: -24px; list-style: none; box-shadow: 0px 0px 2px #ddd;}
#talalat li { border: 1px solid #ddd; border-top: none; padding: 0;}
#talalat li a { border: none; display: block; padding: 12px 16px; transition: none;}
#talalat li a:hover { background: #5e7c97; color: #fdfdfa; }
#talalat li a:active { position: static; }





/* ==========================================================================
   Table of Contents & Navigation
   ========================================================================== */

.top { display: none; }

nav { font-size: 1.5em; padding: 1.3em 0 0 1.3em; }
nav p { font-size: 1.3em; font-style: italic; padding: 1em 0; }

nav ol, nav ul, .abc-mutato ol, .form { list-style: none; }
nav ol { padding-left: 1.5em; }
nav ul { padding-left: .5em; }
nav > ul { margin-top: -.8em; }
nav ul li { padding: .1em 0; }
ol ol li { color: #999; font-size: .85em; padding: .3em 0; }

summary { color: #223849; cursor: pointer; }
summary::-webkit-details-marker { display: none; }
summary span { border-bottom: 1px dotted #aaa; display: inline; }

.rogt-mutato li, .valt-mutato li { color: #999; font-size: .85em; padding: .3em 0; }
.rogt-mutato, .valt-mutato, ol ol, .best-of ol { list-style: decimal; padding-left: 3em; }

.abc-mutato ol { padding-left: 1.5em; }
.abc-mutato summary, .evek-mutato summary { font-size: 1.2em; padding: .05em; }

.cv-mutato, .jegyz-mutato { color: #223849; }

.irasok-idorend summary { font-size: .85em; }





/* ==========================================================================
   Text Fixes, Indents & Typography
   ========================================================================== */

.ev { font-size: 3em;padding: 1.5em 0 0 .6em; }
.vers { display: inline-block; }
.s { padding-left: 53px; }
.s2 { padding-left: 96px; }
.s3 { padding-left: 30px; }
.s-ax { padding-left: 90px; }
.s4 { margin-left: -10px; }
.s5 { margin-left: -5px; }
.ls1 { letter-spacing: 0.05em; }

#munkasok-rimbaud p { white-space: normal; max-width: 500px; }
#petofi-tuze hr:before { content: "***"; }
#keltezetlen-toredekek h3, #toredekes-rogtonzesek-tormeleksorok h3 { font-size: 16px; text-transform: uppercase; }

.vers-cont .alcim { font-style: italic; }

.vers-cont .ajanlas2 { margin-left: 120px; text-align: left; }
.vers-cont .ajanlas3 { text-align: right; }
.vers-cont .ajanlas-farsang { margin-left: 100px; text-align: left; }

.vers-cont .bev2 { font-size: .9em; }
.vers-cont .bev3 { font-size: 16px; }
.vers-cont .parbesz { font-size: 16px; letter-spacing: 0.06em; padding-bottom: 5px; text-transform: uppercase; }

.vers-cont .sorbe-imadsag-megfaradtaknak { padding-left: 342px; }
.vers-cont .sorbe-tanitasok { padding-left: 248px; }
.vers-cont .sorbe-somogyi-lolinak { padding-left: 240px; }

.vers-cont .sor { padding-right: 15px; }
.vers-cont .sor1 { margin-left: -43px; }
.vers-cont .egy-toredek-alakulasa-fix { margin-left: 43px; }





/* ==========================================================================
   Prose
   ========================================================================== */

.proza sup { display: none; }

.proza { max-width: 700px; margin: auto; }

.proza .poem { padding-left: 60px; white-space: nowrap; }
.proza .utem { font-style: normal; display: inline-block; text-align: center; border-bottom: 1px solid #3b3b3b; width: 12px; height: 20px; }
.proza .poem-title { text-align: right; }
.proza .s { font-style: normal; margin-left: -8px; padding: 0;}
.proza .cap, .proza abbr { font-style: normal; letter-spacing:0.06em; }
.proza abbr, .proza .s-cap { font-style: normal; letter-spacing:0.05em; font-variant: small-caps; }
.proza .szoj-lead { padding-bottom: 60px; }
.proza .date { text-align: right; }
.proza hr { text-align: center; }
.proza .ev { text-align: left; }

#uj-szocializmust .cap { letter-spacing:0.08em; }
#szabad-otletek-jegyzeke p { padding-bottom: 10px; }

.proza article h2 { font-weight: normal; text-transform: none; font-size: 2.31em; padding-top: 30px; margin-bottom: 10px; line-height: 1.25; letter-spacing: 0.04em; white-space: normal; }
.proza section h2, .proza h3 { font-weight: normal; font-size: 1.4em; line-height: 1.4; margin: 10px 0; }
.proza article h4 { font-size: 1.2em; font-weight: normal; margin: 10px 0; }
.proza section header h2+p { font-size: 1.3em; }
.proza article header p { font-size: 1.6em; margin-top: -5px; line-height: 1.4; }
.proza article header p+p { font-size: 1.4em; }
.proza article p { -moz-hyphens:auto; }
.proza footer { font-size: 16px; }
.proza article span { font-style: italic; }

/* Text Selection for Notes
   ========================================================================== */

/*sup {
  color: #999;
  cursor: pointer;
  font-size: 16px;
}

.tooltipster-default sup {
  color: #ededea;;
}

sup::-moz-selection { color: #c75f1a; }
sup::selection { color: #c75f1a; }*/





/* ==========================================================================
   Media Queries
   ========================================================================== */

@media screen and (min-width: 36em) {

  .top { bottom: .1em; display: inherit; font-size: 1.2em; opacity: .3; position: fixed; right: .5em; -webkit-transition: all .2s ease; transition: all .2s ease; }
  .top:hover { opacity: 1; }
  .top a { border: none; }

 }

@media screen and (min-width: 49.5em) {

  header h1 { padding-top: 2em; }

  .form { margin: -1.3em auto 3.5em; width: 620px; }
  #verskeres { width: 610px; height: 50px; }
  #talalat { width: 610px; margin-top: -56px; }

  nav { margin: auto; width: 620px; }
  nav ul { padding-left: .7em; white-space: nowrap; }

 }

@media screen and (min-width: 80.5em) {

  body { text-rendering: optimizeLegibility; }
  small { font-size: 16px; }

  .vers-cont article { padding-left: 0; text-align: center; font-size: 1.3em; }
  .vers-cont p { font-size: 19px; text-align: left; padding: 0 0 30px 120px; }
  .vers-cont h2 { font-size: 23px; padding: 100px 0 15px 25px; }
  .vers-cont h3 { padding: 15px 0 20px 25px; }
  .vers-cont article h3: first-of-type { padding-top: 5px; }

  .vers-cont .ev { font-size: 3em; margin-bottom: -1.3em; padding: 1.2em 0 0 0; text-align: center; }
  .vers-cont .proza .ev { padding: 1.2em 0 .5em .8em; }
  .vers-cont .val { margin-bottom: -.6em; }
  .vers-cont .kozmosz-int { padding-left: 155px; }
  .vers-cont .sorbe-imadsag-megfaradtaknak { padding-left: 318px; }
  .vers-cont .ajanlas { padding-left: 25px; text-align: center; }
  .vers-cont .s-ax { padding-left: 83px;  }
  .vers-cont .s4 { margin-left: -8px; }
  .vers-cont .s5 { margin-left: -4px; }

  #judit-versek-toredekei h3 { padding-bottom: 0; }
  #alkalmi-vers-a-szocializmus-allasarol .ajanlas { padding-left: 25px; }
  #oda .ajanlas { margin-left: -80px; }
  #harom-vandor-epilog { padding-right: 80px; }

/* Center Alignment Fix For Poems
   ========================================================================== */

#anyam-a-mosasban-gyaszkoszoru p{padding-left:20px;}

#negyen-ugrottunk-vizbe p{padding-left:25px;}

#templom-hulla-rozsa p,
#a-szerelmes-szonettje p,
#lanyszepseg-dicserete p,
#hajnalban-kel-fol-mint-a-pekek p,
#egy-spanyol-foldmives-sirverse p,
#irgalom-edesanyam p,
#szallj-koltemeny p,
#ha-nem-leszel p,
#toredekek-1-1937 p,
#lagy-tajek-valt p,
#a-hit-boldogit p,
#homonnai-ibinek p,
#petite-jeanette p,
#esoben p,
#gugyu-gugyu p,
#somogyi-lolinak p,
#a-fakon p{padding-left:30px;}

#kep-a-tukorben p,
#ballada p,
#az-en-ki-emberkent-vazlata-valt p,
#egy-asszony-s-egy-leany p{padding-left:35px;}

#szoke-hajam p,
#sohaj p,
#a-jambor-tehen p,
#szol-a-telefon p,
#a-szemed p,
#ket-hexameter p,
#versem-komor p,
#punkosd-elott p,
#szeretok p,
#tenyeremre-tettem p,
#ekrazittomeg p,
#esti-felhokon p,
#most-feher-a-tuz p,
#neha-szigetek p,
#keseru p,
#egyugyu-enek p,
#kertesz-leszek p,
#nagy-varosokrol-beszelt-a-messzi-vandor p,
#a-nagy-varosokat p,
#dalocska p,
#aludj p,
#beteg-vagyok p,
#a-mennyei-pancelvonat p,
#bodulj-torony p,
#erted-haragszom-nem-ellened p,
#hajad-az-ujjame p,
#kultura p,
#chant-de-proletaire p,
#toredekek-1927 p,
#sok-gondom-kozt p,
#derengo-rozsa p,
#hosszu-az-uristen p,
#betlehemi-kiralyok p,
#parbeszed p,
#judit-versek-toredekei p,
#jaj-majdnem p,
#en-nem-tudom p,
#draga-barataim p,
#jojj-testverkem-valt p,
#csokol-attila p,
#tettamanti-belanak p,
#je-dois p,
#ha-sziu-volnek p,
#a-nyakaba-kek-koto p,
#farago-sarinak p,
#odvas-fogban p,
#nagy-lajosnak p,
#ige p,
#braun-evanak p,
#hallom-hogy-az-adam p,
#eva-vigyazz p,
#rossz-volt-elszeledt-szivembol p{padding-left:40px;}

#tiszta-szivvel p,
#kiszombori-dal p,
#zuzmara p{padding-left:45px;}

#csudalkozunk-az-eleten p,
#kedves-joco p,
#egyszeru-vers p,
#arany-kalasztol p,
#hajnali-vers-kedvesemnek p,
#perc p,
#koldus p,
#tovabb-en-nem-birom p,
#ad-sidera p,
#sacrilegium p,
#majusi-enek p,
#uram p,
#ferfiszoval-2 p,
#toredekek-1923 p,
#szegenyember-balladaja p,
#bosszusag p,
#hajon-megyek-pestre p,
#a-kutya p,
#egyszeru-ez p,
#tuz-van p,
#jozsef-attila-jozsef-attila-hidd-el p,
#szelkialto-madar p,
#tavaszi-sar p,
#ezust-elet-1-2 p,
#csodalkozo-bogarak-kozt p,
#szocialistak-fajas-nyomor p,
#engem-temetnek p,
#az-oroszlan-idezese p,
#bevezeto p,
#szappanosviz p,
#divanyon-fekszem p,
#falu p,
#bermunkas-ballada p,
#ne-legy-szeles p,
#mar-regesreg p,
#flora p,
#bukj-fol-az-arbol p,
#floranak p,
#en-ki-emberkent p,
#miben-hisztek p,
#le-vagyok-gyozve p,
#dal-valt p,
#kirakom-roggel-valt p,
#aradat-valt p,
#azt-mondjak-valt p,
#a-spenot p,
#de-feu p,
#epigramma p,
#nor-coc p,
#muveszet-az-emberek-kozott p,
#viszem-a-foldem p,
#szelid-bucsuzo-asszony p,
#ringato p,
#csak-most p{padding-left:50px;}

#az-orult-hajotorott p,
#a-vilag-megteremtese p,
#igaz-oszinte-bucsu p,
#ha-a-hold-sut p{padding-left:55px;}

#illyes-gyulanak p,
#tedd-a-kezed p,
#pucer-csapat-dobog p,
#a-szamokrol p,
#este-volt-s-a-borunk-osszeert p,
#tavasz-van-gyonyoru p,
#nyolcesztendos-lanyok p,
#ide-ujra-a-szeretet-jon p,
#meghalt-juhasz-gyula p,
#uvegontok p,
#a-banat p,
#holttest-az-uccan p,
#bolyongok p,
#ulunk-egymas-mellett p,
#egyedul p,
#eroenek p,
#nem-tudunk-elni p,
#o-europa-hany-redo p,
#lovas-a-temetoben p,
#varakozas p,
#aratas-elott p,
#spleen p,
#pap-a-templomban p,
#tel p,
#versek-vegere p,
#tanulmanyfej p,
#szerelmes-kiszolas p,
#szerelmes-vers p,
#vilag-megokolt-utalata p,
#o-szoke-csokok-partja p,
#rog-a-roghoz p,
#a-fergeteg-orman p,
#erik-a-feny p,
#en-dobtam p,
#aprilis-11 p,
#felido-0-0 p,
#pilota p,
#kovacs p,
#a-csapat p,
#anyam-meghalt p,
#pancelvonat p,
#jut-most-eleg-virag p,
#jut-az-ember p,
#parizsi-anzix p,
#istenem p,
#luca p,
#ket-vers p,
#gyasz-es-patyolat p,
#gyongy p,
#pernyetancra p,
#magyar-alfold p,
#banat-futtam-mint-a-szarvasok p,
#elegia p,
#a-bun p,
#en-nem-tudtam p,
#marcius p,
#balatonszarszo1 p,
#balatonszarszo2 p,
#a-hullamok-lagy-tanca p,
#konnyu-emlekek p,
#azt-mondjak p,
#nem-emel-fol p,
#az-arnyekok p,
#ha-nem-szoritsz p,
#karoval-jottel p,
#proletardal-valt p,
#medaliak-valt p,
#fagy-valt p,
#szappanosviz-valt p,
#a-bun-valt p,
#galantai-batyamnak p,
#osz-valt p,
#a-noi-sziv p,
#tusikanak p,
#az-orok-polyphemos p,
#wolke p,
#level p,
#axioma p,
#latod p,
#megfaradt-ember p,
#a-gyerekszemu-elet-tavon p,
#haromszaz-spartai-sirverse p,
#idok-beteljesedese p,
#toredekes-rogtonzesek-tormeleksorok p{padding-left:60px;}

#szep-csondesen-aludj p,
#tancba-fognak p,
#gyonyorut-lattam p,
#az-edesanyjanak p,
#piros-hold-korul p,
#ajtot-nyitok p,
#meg-ne-utazz-el-sarikam p,
#hull-a-level p,
#nyari-delutan-a-szobaban p,
#a-cipo p,
#csokkeres-tavasszal p{padding-left:65px;}

#szomorufuz p,
#a-pap-mosolyog-valt p,
#nyar-volt p,
#juhasz-gyularol-valo-nota p,
#koltoszerelem-teremto-estje p,
#hymnus-az-elethez p,
#fiatal-eletek-induloja p,
#nevnapi-dicseret p,
#keseru-nekifohaszkodas p,
#simon-jolan-valt p,
#vegtelen-ota p,
#hozza p,
#keresek-valakit p,
#az-orok-elmulas p,
#ajandek p,
#csend p,
#nagy-ajandekok-tora p,
#nyuzsog-a-boldogsag p,
#kontosok p,
#alomban-enyem-vagy p,
#falak p,
#varlak p,
#leanykero-enek p,
#a-fust p,
#rovid-oda-a-kelo-naphoz p,
#boros-keseruseg p,
#napszonett p,
#o-zordon-szepseg p,
#udvozles p,
#bus-enekhivas p,
#eggyeolelodes-vagya p,
#nemeth-andor-valt p,
#ejjel p,
#huseg p,
#hajnalvaras p,
#mint-loholo-bolond-elott p,
#gyemant p,
#szolt-az-ember p,
#a-gondolkodo-szonettje p,
#dicsertessek p,
#reggeli p,
#isten-1-4 p,
#isten-en-az-istenem p,
#ifjumunkas p,
#munkas p,
#csak-a-tenger-jott-el p,
#acelgomb-fol-fol-emelkedj p,
#vegul p,
#ket-vers-kertrol p,
#biztato-kinaban-log-a-mandarin p,
#szabados-dal p,
#ket-dal p,
#oreg-minden p,
#klarisok p,
#harmatocska p,
#egeres p,
#regos-enek p,
#mondd-mit-erlel p,
#ritkas-erdo-alatt p,
#egy-kisgyerek-sir p,
#sarga-fuvek p,
#szamvetes p,
#biztato-csomagodat-ne-bontsd-ki p,
#boldog-hazug p,
#mint-gyermek p,
#majus p,
#zold-napsutes-hintalt p,
#irgalom p,
#elmaradt-oleles-miatt p,
#szuletesnapomra p,
#sas p,
#konnyu-feher-ruhaban p,
#majd p,
#keltezetlen-toredekek p,
#egy-asszony-s-egy-leany-valt p,
#tuzek-eneke-valt p,
#glas-valt p,
#verre-valt p,
#favago-valt p,
#nyar-valt p,
#egy-toredek-alakulasa-valt p,
#hajnali-tiz-ora p,
#jutka-verse p,
#hont-erzsinek p,
#kerek-asztal p,
#kinalgato p,
#szeretok-lazadasa p,
#szel-csapta p,
#levegot p,
#beszel-a-tej p,
#eve-25 p,
#a-fan-a-levelek p,
#munkasok-rimbaud p,
#nyirfak p,
#este p,
#egy-ember p,
#szerelmes-keseru-hazafisag p{padding-left:70px;}

#elkoszono-szelid-szavak p{padding-left:74px;}

#jelen-mult-jovo p,
#kodbol-csondbol p,
#jozsef-attila p,
#os-patkany-terjeszt-kort p,
#mancinak-es-miskanak p,
#a-vilag-ha-elbujdostat p,
#holt-videk p,
#a-paradicsom-elette-lesz p,
#kovek p,
#a-kovezeten p,
#modern-szonett p{padding-left:75px;}

#kedves-zoltan p,
#aldott-legy-jo-magyarorszag p,
#herz-henrik-omeltosaganak p,
#a-csodaszarvas p,
#kedvesem-betegen p,
#a-legutolso-harcos p,
#ezerfarosznyi-vegzet p,
#hymnus-a-borhoz p,
#amiota p,
#nemzett-jozsef-aron p,
#a-halalrol p,
#mamor p,
#tengerhez p,
#a-szolnoki-hidon p,
#bus-magyar-eneke p,
#aratasban p,
#osapam p,
#kalozkapitany-induloja p,
#a-betuk-sivatagaban p,
#harc-a-bekessegert p,
#szaradok-torodom p,
#ferfiszoval-1-2 p,
#no-a-tukor-elott p,
#erzitek-e p,
#figyel-a-kancsal p,
#oly-friss p,
#rianak-hivom p,
#kilometerekkel p,
#fiatal-asszonyok-eneke p,
#ket-vazlat p,
#toszunnyado p,
#tudtam-en p,
#laci-ba p,
#tiszazug p,
#ot-szegeny-szol p,
#eso p,
#hatar p,
#ordas p,
#medvetanc p,
#tajvers-toredekek p,
#az-eszmelet-elozmenyei p,
#mama p,
#nyari-delutan p,
#majd-emlekezni-jo-lesz p,
#egy-buntetotorvenyszeki-targyalas-irataibol p,
#az-a-szep-regi-asszony p,
#majd-megoregszel p,
#mint-a-mezon p,
#reggeli-feny p,
#marcius-1-2 p,
#jon-a-vihar p,
#hazam-1-7 p,
#csak-az-olvassa p,
#egy-koltore-teged-szeretnek p,
#ombarge-palot-sous-la-peau-valt p,
#kinos-szogletes-mulasom-valt p,
#vigasztald-meg-valt p,
#a-kesei-sirato-vazlataibol-valt p,
#a-multkor-szerda-este p,
#ringelnatz-morgenstern-nepdal p,
#a-boldogsag-nyitott-konyv p,
#tavaszi-enek p,
#ulni-allni-olni-halni p,
#remenytelenul p,
#kosztolanyi p,
#oszi-alkonyat p,
#ki-all-helyemre p,
#katonatemeto p,
#szivem-testvere-az-ido p,
#balga-kolto p{padding-left:80px;}

#tavol-zongora-mellett p,
#ugy-e-pajtas p,
#koldusok-1-3 p,
#nyar p,
#fohaszkodo-enek p,
#lazado-szentek p,
#villon-ferenc-nagy-testamentuma p{padding-left:85px;}

#pauvre-plaint-chant-mechant p,
#ki-verne-fol-lelkunkben-a-lelket p,
#jonal-jobb p,
#ha-nem-veszik-eszben p,
#megis-elveszem p,
#ember-is-magyar-is-magam-is p,
#tavoli-enek p,
#a-batrak p,
#a-hetedik p,
#amit-szivedbe-rejtesz p,
#istenjaras p,
#gyongysor p,
#juhasz-gyulahoz p,
#a-sziv-s-a-szem p,
#csokolj-csokolj p,
#lelekszirteken p,
#a-vergodo-diak p,
#nezem-a-lampat p,
#szerelem-ez p,
#csondes-esteli-zsoltar p,
#szeged-alatt p,
#a-szent-jobb-unnepen p,
#baal p,
#kukoricafold p,
#forgeteg p,
#parasztanyoka p,
#reszeg-a-sineken p,
#proletarok p,
#teged-siratlak p,
#onarckep p,
#el-innen p,
#a-lovak p,
#kedvesem p,
#tuntetes p,
#nekem-mindegy p,
#tuzek-eneke p,
#a-tavi-torony-harangozoja p,
#pirosszemu p,
#a-rak p,
#hivogato p,
#a-kelo-korongba-hajitom p,
#kopogtatas-nelkul p,
#dudolo p,
#buza p,
#vigasz p,
#alkalmi-vers-a-szocializmus-allasarol p,
#flora-1-2 p,
#akkor p,
#csungoje-voltam p,
#pottyos p,
#ordog-faraba p,
#isten-hogyha-golyoznak p,
#medaliak p,
#fust p,
#ady-emlekezete p,
#kispolgar p,
#a-kanasz p,
#halo p,
#iszonyat p,
#osztas-utan p,
#leulepszik p,
#emberek p,
#emberiseg p,
#harag p,
#kesei-sirato p,
#toredekek-1935 p,
#gyermekke-tettel p,
#judit p,
#vilagositsd-fol p,
#aki-szeretni-gyava-vagy p,
#nagyon-faj p,
#kialtozas p,
#ne-bantsd p,
#magany p,
#ars-poetica p,
#ars-poetica-valt p,
#balogh-joskanak p,
#ma-lucie p,
#allegorie p,
#az-uj-honorhoz p,
#a-tavol-uj-s-uj-egeket-szor-valt p,
#vagymagam-a-hold-alatt p,
#szaggatlak-mint-a-fergeteg p,
#ady-endre-helyett-mondom p,
#koltonk-es-kora p,
#ti-jok-vagytok-mindannyian p,
#es-keressuk-az-igazsagot p,
#kesz-a-leltar p,
#a-legutolso-harcos-valt p,
#bethlen-istvan p,
#elmulas p,
#a-meghokkentek p,
#ebredjetek-szolit-a-hang p,
#konyvek-az-asztalon p,
#a-meszarszekek p,
#eros-var-a-mi-istenunk p,
#sportirodalom p{padding-left:90px;}

#utrakeszseg p,
#munkashalal p,
#altato p,
#petofi-tuze p,
#utrahivas p,
#alkohol p,
#karacsony p,
#a-bor-alatt-halovany-arnyek p,
#muterem p,
#munkasok-korusa p,
#ket-keserves p,
#esik p,
#dormogo p,
#favago p,
#betlehem p,
#tomeg p,
#munkasok p,
#fak p,
#jott-megfogott-es-athajitott p,
#tehervonatok-tolatnak p,
#oh-sziv-nyugodj p,
#temetes-utan p,
#a-dunanal p,
#kesz-a-leltar p,
#a-tokesek-hasznarol-valt p,
#a-royalban-muzsika p,
#esik-eso-magyar-foldre p,
#talan-eltunok-hirtelen p,
#nem-nem-soha p,
#indiaban-hol-ejjel-a-vadak p,
#predikacio p,
#villamok-szeretoje p,
#vasarhelyrol-diszno-jo p,
#mint-orok-keservet p,
#magyarok p,
#kakuk-marci p,
#a-szeretok-hallgatva-alltak p,
#fordulo p,
#az-osz-az-uccan p,
#egyedul-vasile-ciocalteu p,
#a-golgota-kovete p,
#oszi-ima p,
#a-banyasz-aron-cotrus p,
#hol-a-foldes-dulo p,
#komoly-lett-mar p{padding-left:100px;}

#thomas-mann-udvozlese p,
#lanyszepseg-dicserete-1-2 p,
#szep-lobogoval-vagy-anelkul p,
#aldalak-buval-vigalommal p,
#homaly-borult-az-erdore p{padding-left:105px;}

#lazado-krisztus p,
#furcsa-fohasz-a-sinek-kozott p,
#nem-en-kialtok p,
#legy-ostoba p,
#imadsag-megfaradtaknak p,
#itt-egy-fa-ott-egy-fa p,
#magyarorszag-messzire-van p,
#viragos p,
#szeretnenek p,
#gyereksiras p,
#lucahoz p,
#akacokhoz p,
#arany p,
#banat-hat-kijottem-ide p,
#anyam p,
#mikor-az-uccan-atment-a-kedves p,
#aranybojtu p,
#oda p,
#a-szigeten p,
#osz p,
#nehany-ejjelre-padra-kore-valt p,
#tudod-hogy-nincs-bocsanat p,
#miert-mondottal-rosszat-nekem p,
#het-napja p,
#kiknek-adtam-a-boldogot-valt p,
#mikor-a-szeretok-valt p,
#foldet-adj p,
#aeternitas p,
#anya p{padding-left:110px;}

#szeretnem-ha-vadalmafa-lennek p,
#egy-koltore-sakalt-kialt p,
#szocialistak p,
#miota-elmentel p,
#igaz-ember p,
#vagyok-kinek-kell-legyen-kedve-valt p,
#majd-csondbe-fagynak-a-dalok p,
#az-isten-itt-allt-a-hatam-mogott p,
#mivelhogy-oly-szepen-terit-a p,
#farsangi-lakodalom p,
#azt-olvastam-hogy-perli-a-nepet p,
#magyarok-1-2 p,
#archeologia p,
#asszonyvaras-asszonyszobor-mellett p{padding-left:130px;}

#ma-nevnapja-van p,
#az-oktato-mama-oktatasa p,
#szep-nyari-este-van p,
#ballada-melyet-villon-szerzett-edesanyja-keresere p,
#arc-az-uveg-mogott p,
#toredekek-2-1937 p{padding-left:140px;}

#harom-vandor p,
#toredekek-1934 p,
#egy-ifju-parra p{padding-left:150px;}

#margareta p,
#a-sas p,
#tidmann-ur p,
#a-banyasz p,
#delelott-a-parkban p,
#bibliai p{padding-left:160px;}

#csengo p,
#a-tulso-part p,
#utolso-versek p,
#leonidas p,
#enek-magamhoz p{padding-left:170px;}

#szurkulet p,
#meghaltak p,
#gyarban p,
#a-voros-lo p{padding-left:180px;}

#tanitasok p{padding-left:195px;}

#toredekek-1931 p,
#sokasag-te p,
#a-haldoklo p,
#balatonszarszo3 p{padding-left:200px;}

#hova-forduljon-az-ember p{padding-left:250px;}

}





/* ==========================================================================
   Header Animation & Icons
   ========================================================================== */

@-webkit-keyframes Slideshow {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-600px);
    transform: translateX(-600px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

@keyframes Slideshow {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-600px);
    transform: translateX(-600px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot?-vtzej5');
  src:url('fonts/icomoon.eot?#iefix-vtzej5') format('embedded-opentype'),
    url('fonts/icomoon.woff?-vtzej5') format('woff'),
    url('fonts/icomoon.ttf?-vtzej5') format('truetype'),
    url('fonts/icomoon.svg?-vtzej5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-circle-up:before { content: "\e601"; }
.icon-external-link:before { content: "\e600"; }
.icon-external-link { color: #aaa; font-size: .63em; padding-left: 6px; }
.nav-first-lvl { color: #3c5d7a; }