::-moz-selection{background:#d5d2d4;text-shadow:none;}
::selection{background:#d5d2d4;text-shadow:none;}



article,body,details,h1,h2,h3,header,html,hr,li,nav,ol,p,section,summary,sup,ul{border:0;margin:0;padding:0;}

article,details,header,main,nav,section,summary{display:block;}

html{font-size:100%;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}



body {
  background: #fdfdfa;
  color: #3b3b3b;
  font-family: Georgia,Times,'Times New Roman',serif;
  margin: 0 auto 60px;
  padding: 0 20px;
  max-width: 660px;
}

ul {
  list-style-type: none;
}

.proza {
  margin-top: 40px;
  font-size: 18px;
  line-height: 1.55;
}

article {
  padding-bottom: 60px;
}

h2 {
  font-weight: normal;
  font-size: 2.31em;
  padding-top: 30px;
  margin-bottom: 10px;
  line-height: 1.25;
}

section h2, h3 {
  font-weight: normal;
  font-size: 1.4em;
  line-height: 1.4;
  margin: 10px 0;
}

h4 {
  font-size: 1.2em;
  font-weight: normal;
  margin: 10px 0;
}

section header h2+p {
  font-size: 1.3em;
}

header p {
  font-size: 1.6em;
  margin-top: -5px;
  line-height: 1.4;
}

header p+p {
  font-size: 1.4em;
}

p {
  -moz-hyphens:auto;
  padding-bottom: 25px;
}

footer {
  font-size: 16px;
}

hr{color:#3b3b3b;height:0;padding:0 0 60px 0; text-align: center; font-size: 1.5em;}
hr:before{content:"*";}

sup {
  color: #999;
  cursor: pointer;
  font-size: 16px;
}

.tooltipster-default sup {
  color: #ededea;;
}

sup::-moz-selection { color: #c75f1a; }
sup::selection { color: #c75f1a; }


span {
  font-style: italic;
}

.utem {
  font-style: normal;
  display: inline-block;
  text-align: center;
  border-bottom: 1px solid #3b3b3b;
  width: 12px;
  height: 22px;
}

.poem {
  padding-left: 60px;
  white-space: nowrap;
}

.poem-title {
  text-align: right;
}

.s {
  font-style: normal;
  margin-left: -8px;
}

.cap, abbr {
  font-style: normal;
  letter-spacing:0.06em;
}

abbr, .s-cap {
  font-style: normal;
  letter-spacing:0.05em;
  font-variant: small-caps;
}

#uj-szocializmust .cap {
  letter-spacing:0.08em;
}

@media screen and (min-width: 80.5em) {

  .proza {
    font-size: 21px;
  }

  .utem {
    width: 15px;
    height: 25px;
  }

  .s {
    margin-left: -9px;
}

}