hr{border:0;margin:0;padding:0;}

html {
  padding: 0 20px;
  max-width: 680px;
  background: #fdfdfa;
  margin: auto;
  color: #3b3b3b;
  font:21px/1.55 Georgia,Times,'Times New Roman',serif;
}

p{
  -moz-hyphens:auto;
}
article {
  padding-bottom: 60px;
}
footer{
  font-size: 16px;
}
h2 {
  font-weight: normal;
  font-size: 2.31em;
  margin-bottom: -5px;
  line-height: 1.25;
}

hr{color:#3b3b3b;height:0;padding:0 0 60px 0; text-align: center; font-size: 1.5em;}
hr:before{content:"*";}

sup {
  color: #999;
  font-size: 16px;
}